<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cuit.study.dao.PersonalCenterMapper">

    <select id="getUser" parameterType="int" resultType="User">
       SELECT
            userName,
            gender,
            birth,
            phone
        FROM
            user
        where
            userID = #{userId};
    </select>

    <update id="updateByUser" parameterType="user">
        update user set
            userName=#{userName},
            gender=#{gender},
            birth=#{birth},
            phone=#{phone}
        where userID = #{userId};
    </update>

    <select id="getAllCourse" resultType="course">
        SELECT * FROM
         (SELECT
            couseID
          FROM
            selectcourses
          where
            userID = #{userId}
          ) a,
          course b
         where a.couseID = b.courseID;
    </select>

    <select id="findByIdCourse" parameterType="int" resultType="course">
        select * from course where courseID = #{courseId};
    </select>

    <select id="getSelectInformation" parameterType="int" resultType="map">
        select * from selectcourses where userID = #{userId};
    </select>

    <select id="getAllHistory" parameterType="int" resultType="History">
        select * from history where userId = #{userId};
    </select>
    
    <select id="queryByUserId" parameterType="int" resultType="Learning">
        select * from learning where userId = #{userId};
    </select>

</mapper>