<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.8.2/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/personal.css">
    <title>个人中心模块</title>
</head>
<body>
<
<div id="personal-container">
    <el-container>
        <el-header>
            <el-menu
                    :default-active="activeIndex2"
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    active-text-color="#ffd04b">
                <el-menu-item index="1">个人中心</el-menu-item>
                <el-submenu index="2">
                    <template slot="title">我的工作台</template>
                    <el-menu-item index="2-1">选项1</el-menu-item>
                    <el-menu-item index="2-2">选项2</el-menu-item>
                    <el-menu-item index="2-3">选项3</el-menu-item>
                    <el-submenu index="2-4">
                        <template slot="title">选项4</template>
                        <el-menu-item index="2-4-1">选项1</el-menu-item>
                        <el-menu-item index="2-4-2">选项2</el-menu-item>
                        <el-menu-item index="2-4-3">选项3</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <el-submenu index="3" style="padding: 0;float: right;">
                    <template slot="title">小明</template>
                    <el-menu-item index="4-1">选项一</el-menu-item>
                    <el-menu-item index="4-2">选项二</el-menu-item>
                </el-submenu>

                <el-menu-item index="4" style="padding: 0;float: right;">
                    <img class="headPortrait" :src="headUrl"/>
                </el-menu-item>
            </el-menu>
        </el-header>
        <el-main style="margin-top: 40px;">
            <template>
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="用户基本信息" name="1">
                        <el-row :gutter="20">
                            <el-col :span="12">
                                <el-form ref="form" :model="form" label-position="top" label-width="80px">
                                    <el-form-item label="姓名:">
                                        <el-input v-model="form.userName"></el-input>
                                    </el-form-item>
                                    <el-form-item label="性别:">
                                        <el-radio-group v-model="form.gender">
                                            <el-radio :label="man">男</el-radio>
                                            <el-radio :label="woman">女</el-radio>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="生日:">
                                        <el-date-picker v-model="form.birth" type="date"
                                                        placeholder="请选择生日"></el-date-picker>
                                    </el-form-item>
                                    <el-form-item label="联系方式:">
                                        <el-input type="number"
                                                  oninput="if (value.length > 11) value = value.slice(0,11) "
                                                  v-model="form.phone" clearable></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="dialogVisible = true">提交</el-button>
                                        <el-dialog
                                                title="提示"
                                                :visible.sync="dialogVisible"
                                                width="30%"
                                                :before-close="handleClose">
                                            <span>确认修改</span>
                                            <span slot="footer">
                                            <el-button @click="dialogVisible = false">取消</el-button>
                                            <el-button @click="onSubmit(form)" type="primary">确认</el-button>
                                        </span>
                                        </el-dialog>
                                    </el-form-item>
                                </el-form>
                            </el-col>
                            <el-col :span="6">
                                <span>用户头像</span>
                                <el-upload
                                        class="avatar-uploader"
                                        action=""
                                        :show-file-list="false"
                                        :on-success="handleAvatarSuccess"
                                        :before-upload="beforeAvatarUpload"
                                        style="margin-top: 20px;">
                                    <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="课程" name="2">
                        <el-row :gutter="20" v-for="course in courses" style="margin-top: 20px">
                            <el-col :span="6">
                                <el-card :body-style="{ padding: '0px' }">
                                    <img :src="course.url" class="image">
                                    <div style="padding: 14px;">
                                        <div class="bottom clearfix">
                                            <i class="el-icon-s-custom">当前选课{{ course.selectNumber}}人</i>
                                            <el-link class="link" :href="course.link" type="primary">继续学习<i
                                                    class="el-icon-view el-icon--right"></i></el-link>
                                        </div>
                                    </div>
                                </el-card>
                            </el-col>
                            <el-col :span="16">
                                <h3>{{ course.courseName }} <span class="link el-icon-reading">当前学习进度{{ course.progress }}</span>
                                </h3>
                                <div>
                                    <p>{{ course.content }}</p>
                                </div>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="历史记录" name="3">
                        <template>
                            <el-table
                                    :data="downloadData"
                                    border>
                                <el-table-column
                                        prop="courseName"
                                        label="课程名"
                                        width="300"></el-table-column>
                                <el-table-column
                                        label="学习进度"
                                        width="500">
                                    <template slot-scope="scope">
                                        <el-progress :text-inside="true" :stroke-width="18"
                                                     :percentage="scope.row.progress"></el-progress>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        label="操作"
                                        width="300">
                                    <template slot-scope="scope">
                                        <el-link :href="learningUrl + scope.row.courseId" type="primary">继续学习</el-link>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                    </el-tab-pane>
                </el-tabs>
                </el-tab-pane>
                </el-tabs>
            </template>
        </el-main>
    </el-container>
</div>

</body>
<script src="https://unpkg.com/vue@2.6.0/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui@2.8.2/lib/index.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="/static/js/personal.js"></script>
</html>
